// gallery style i

.gallery-section{
    @include md{
        margin-top: 55px;
    }
    .section-heading-wrapper{
        .section-heading{
            h2{
                @include md{
                    font-size: 36px;
                }
            }
        }
    }
}
.section-desc{
    margin-top: -20px;
    margin-left: 120px;

    @include md{
        margin-left: 0;
    }
    @include xs{
        margin-left: 30px;
    }

    p{
        font-family: $outfit-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $text-desc-clr;

        @include md{
            font-size: 18px;
            line-height: 1.4;
        }
       
    }
}

.gallery-card{
    border-radius: 10px;
    overflow: hidden;

    &-img{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &-title{
        background-color: $bg-clr;
        padding:3px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include md{
            padding: 3px 15px;
        }

        h5{
          font-family: $outfit-font;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: black;  

          @include md{
            font-size: 18px;
          }
        }
        .read-more-btn{
            border: none;
        }
    }
}

.gallery-images{
    margin-left: 120px;
    margin-top: 42px;

    @include md{
        margin-left: 0;
    }
}

.gallery-card{
    &-img{
        img{
            width: 100%;
        }
    }
}
 

// home 2 gallery section ====================

.h2-gallery-item{
    display: flex;
    align-items: center;
    position: relative;

    &-title{
        position: absolute;
        p{
           font-family: $outfit-font;
           font-weight: 500;
           font-size: 30px;
           line-height: 45px;
           color: $black-900;
           margin-bottom: -5px;
        }
        h2{
            font-family: $outfit-font;
            font-size: 70px;
            font-weight: 300;
            line-height: 90px;
            color: $black-900;

            span{
                font-weight: 400;
            }
        }

        .read-more-btn{
            border: none;
            margin-top: 0;
            padding-left: 0;

            i{
                color: $primary-clr;
            }
        }

        &.style-2{
            text-align: right;
            right: 0;
        }
    }
    &-img{
        img{
            max-width: 85%;
            object-fit: cover;
            border-radius: 10px;
        }
        &.style-1{
            text-align: right;
            margin-left: auto;
        }
    }
}