
.section-heading-wrapper{
    .section-heading{
        margin-bottom: 40px;
        
        &.style-1{
            h2{
                font-family: $outfit-font;
                font-weight: 300;
                font-size: 70px;
                line-height: 90px;
            }
        }
    }
}