
.section-heading-wrapper{
    .section-heading{
        margin-bottom: 50px;
        
        &.style-1{
            h2{
                font-family: $outfit-font;
                font-weight: 300;
                font-size: 70px;
                line-height: 90px;
                color: $black-900;

                @include lg{
                    font-size: 54px;
                    line-height: 1.2;
                }
                @include md{
                    font-size: 48px;
                }
                @include sm{
                    font-size: 40px;
                }
                @include xs{
                    font-size: 34px;
                }
                @include xxs{
                    font-size: 30px;
                    br{
                        display: none;
                    }
                }
            }
        }

        &.style-2{
            h2{
                font-weight: 400;
                margin-bottom: 40px;

                span{
                    font-weight: 300;
                }

                @include xs{
                    font-size: 30px;
                }
                @include xxs{
                    font-size: 28px;
                }
            }
            
        }
    }
}