
.testimonial{
    margin-top: 130px;

    @include md{
        margin-top: 65px;
    }
}
.testimonial-wrapper{
    background-color: $bg-clr;
    padding: 60px;

    @include md{
        padding: 40px;
    }
}

.swiper-container{
    overflow: hidden;
}
.testimonial-slider{
    overflow: hidden;
}

.testimonial-item{
    text-align: center;

    .quote{
        i{
            color: black;
            font-size: 30px;

            @include lg{
                font-size: 26px;
            }
            @include md{
                font-size: 22px;
            }
            @include sm{
                font-size: 20px;
            }
        }
    }
    .ratings-star{
        display: flex;
        justify-content: center;
        gap: 5px;

        .rating{
            font-family: $outfit-font;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: black;
            margin-top: 3px;

            @include md{
                font-size: 18px;
            }
            @include sm{
                font-size: 16px;
            }
        }
    }
    .testimonial-text p{
        font-family: $outfit-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: $text-desc-clr;
        margin-top: 10px;

        @include md{
            font-size: 18px;
            line-height: 1.4;
        }
        @include sm{
            font-size: 16px;
        }
        @include xs{
            font-size: 14px;
        }
    }

    .author{
        .name{
            font-family: $outfit-font;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: black;

            @include md{
                font-size: 18px;
                line-height: 1.2;
            }
            @include sm{
                font-size: 16px;
            }
            @include xxs{
                font-size: 14px;
            }
        }
        .title{
            font-family: $urbanist-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: black;

            @include sm{
                font-size: 14px;
            }
        }
    }

}

.testimonial-authors-slider {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 160px;
    margin: 0 auto; 
    position: relative;
}

.testimonial-author-img {
    height: 44px;
    width: 44px;
    border-radius: 100%;
    border: 3px solid transparent; 
    transition: border 0.3s ease;
}

.testimonial-author-img.active {
    border: 3px solid $primary-color; 
}

// home -2 testimonial ====================

.h2-testimonial-wrapper{

    margin-top: -100px;
    position: relative;

    @include xxs{
        margin-top: -60px;
    }

    .main-img{
        width: 100%;

        @include md{
           min-height: 600px;
        }
        @include sm{
           min-height: 400px;
        }
        @include xxs{
            min-height: 300px;
        }
    }

    .testimonial-card{
        max-width: 550px;
        background-color: #EDFAF2;
        padding: 30px 40px;
        border-radius: 10px;
        position: absolute;
        left: 200px;
        bottom: 60px;

        @include lg{
            padding: 25px 30px;
            left: 140px;
            bottom: 50px;
        }

        @include md{
            max-width: 480px;
            left: 50px;
        }
        @include sm{
            position: relative;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: -50px;
        }
        @include xxs{
            margin-top: -20px;
        }

    }
    .testimonial-item{
        text-align: left;

        .ratings-star{
            justify-content: left;
        }
        .testimonial-text p{
            text-align: left;
        }

        .author{
            display: flex;
            gap: 15px;
            align-items: center;

            img{
                width: 49px;
                height: 49px;
                border-radius: 50%;

            }
            .title{
                margin-bottom: 0;
            }
        }
    }
}