
.testimonial-wrapper{
    background-color: $bg-clr;
    padding: 60px;
}

.swiper-container{
    overflow: hidden;
}
.testimonial-slider{
    overflow: hidden;
}

.testimonial-item{
    text-align: center;

    .quote{
        i{
            color: black;
            font-size: 30px;
        }
    }
    .ratings-star{
        display: flex;
        justify-content: center;
        gap: 5px;

        .rating{
            font-family: $outfit-font;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: black;
            margin-top: 3px;
        }
    }
    .testimonial-text p{
        font-family: $outfit-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: $text-desc-clr;
        margin-top: 10px;
    }

    .author{
        .name{
            font-family: $outfit-font;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: black;
        }
        .title{
            font-family: $urbanist-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: black;
        }
    }

}

.testimonial-authors-slider {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 160px;
    margin: 0 auto; 
    position: relative;
}

.testimonial-author-img {
    height: 44px;
    width: 44px;
    border-radius: 100%;
    border: 3px solid transparent; 
    transition: border 0.3s ease;
}

.testimonial-author-img.active {
    border: 3px solid $primary-color; 
}