
.mt-325{
    margin-top: 325px;
}
.sec-title{
    text-transform: uppercase;
   
    &.style-1{
        
        h4{
            font-family: $outfit-font;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #1A1A1A;
            text-align: center;
            position: relative;
            margin-bottom: 60px;

            &::after{
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                height: 1px;
                width: 40%;
                background-color: #E2E2E2;
            }
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                height: 1px;
                width: 40%;
                background-color: #E2E2E2;
               
            }
        }
    }
    &.style-2{
        h4{
            font-family: $urbanist-font;
            font-size: 20px;
            font-weight: 600;
            line-height: 22px;
            color: #595959;
            position: relative;
            letter-spacing: 1.62px;
            width: fit-content;

            &::after{
                content: '';
                position: absolute;
                top: 40%;
                left: 110%;
                height: 1px;
                width: 100px;
                background-color: $primary-clr;
            }

        }
    }
    &.style-3{
        h4{
            margin: auto;
            
            &::before{
                content: '';
                position: absolute;
                top: 40%;
                right: 110%;
                height: 1px;
                width: 100px;
                background-color: $primary-clr;
            }
        }
    }
}