
    .row-gap{
        row-gap: 90px;

        @include md{
            row-gap: 60px;
        }
        @include sm{
            row-gap: 30px;
        }
    }
    .client{
        text-align: center;
    }

.trusted-clients{
    &.style-2{

        .trusted-clients-wrapper{
            background-color: $black-900;
            padding: 90px 80px;
            z-index: 5;
            position: relative;
        }

        .sec-title > h4{
            color: $white;
        }
    }
}