
    .row-gap{
        row-gap: 90px;

        @include md{
            row-gap: 40px;
        }
        @include sm{
            row-gap: 30px;
        }
        @include xs{
            row-gap: 20px;
        }
        @include xxs{
            row-gap: 15px;
        }
    }
    .client{
        text-align: center;
    }

.trusted-clients{

    margin-top: 150px;

    @include md{
        margin-top: 80px;
    }

    &.mt-325{
        margin-top: 325px;

        @include xl{
            margin-top: 275px;
        }
        @include lg{
            margin-top: 210px;
        }
        @include md{
            margin-top: 180px;
        }

        @include sm{
            margin-top: 145px;
        }
    }


    &.style-2{

        .trusted-clients-wrapper{
            background-color: $black-900;
            padding: 140px 80px;
            z-index: 5;
            position: relative;

            @include md{
                padding: 55px 50px;
            }
            @include sm{
                padding: 40px 30px;
            }
            @include xxs{
                padding: 40px 12px;
            }
        }

        .sec-title > h4{
            color: $white;
        }
    }
}