
.desc-text-1{
    font-family: $urbanist-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-desc-clr;

    @include sm{
        font-size: 15px;
    }
    @include xs{
        font-size: 14px;
    }
   
}
.desc-text-2{
    font-family: $outfit-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $text-desc-clr;
    @include md{
        font-size: 16px;
        line-height: 1.3;
    }
    
}

.heading-title{
    font-family: $outfit-font;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    color: $black-900;
    margin-bottom: 15px;

    @include lg{
        font-size: 38px;
        line-height: 1.2;
    }
    @include md{
        font-size: 32px;
    }
    @include sm{
        font-size: 30px;
    }
    @include xs{
        font-size: 26px;
    }

    span{
        font-weight: 300;
    }
}

.read-more-btn{
    font-family: $outfit-font;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 22px;
    color: black;
    padding: 10px 20px;
    border: 1px solid $gray-200-clr;
    border-radius: 999px;
    margin-top: 10px;
    display: inline-block;

    @include md{
        padding: 8px 15px;
    }
    @include sm{
        padding: 6px 15px;
    }

    i{
        margin-left: 8px;
        rotate: 45deg;
        transition: 0.3s all;
    }

    &:hover{
        color: $primary-clr;
        i{
            rotate: 0deg;
        }
    }

    &.style-2{
        background-color: $primary-clr;
        color: white;
        border: none;
    }

    &.style-3{
        background-color: $white;
        border: 1px solid $gray-200-clr;
        border-radius: 10px;

        i{
            rotate: 0deg;
        }
    }
    &.style-4{
        border-radius: 10px;
    }
}