
.about-us{
    @include md{
        margin-top: 60px;
    }
}
.awards{

    @include md{
        text-align: center;
    }
    h3{
        font-family: $outfit-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 65px;
        color: black;

        @include lg{
            font-size: 36px;
            line-height: 1.2;
        }
        @include md{
            font-size: 30px;
        }
        @include sm{
            font-size: 28px;
        }
    }
    p{
        font-family: $outfit-font;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        color: black;

        @include lg{
            font-size: 22px;
            line-height: 1.2;
        }
        @include md{
            font-size: 20px;
        }
    }
}

.about-img{
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.about-card{
    margin-left: 30px;
    h4{
        font-family: $outfit-font;
        font-size: 30px;
        font-weight: 500;
        line-height: 45px;
        color: black;

        @include lg{
            font-size: 22px;
            line-height: 1.2;
        }
        @include md{
            font-size: 20px;
            line-height: 1.2;
        }
    }
    p{
        font-family: $urbanist-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $text-desc-clr;
        margin-top: 15px;

        @include md{
            line-height: 1.4;
        }
    }
}

.read-more-btn{
    font-family: $outfit-font;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 22px;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 999px;
    margin-top: 10px;
    display: inline-block;

    @include md{
        padding: 8px 15px;
    }
    @include sm{
        padding: 6px 15px;
    }

    i{
        margin-left: 8px;
        rotate: 45deg;
        transition: 0.3s all;
    }

    &:hover{
        color: $primary-clr;
        i{
            rotate: 0deg;
        }
    }

    &.style-2{
        background-color: $primary-clr;
        color: white;
        border: none;
    }
}

.about-us{
    &.style-2{
        .abt-img{
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}